<p id="notice"><%= notice %></p>
<h3>
  <%= @post.title %>
</h3>

<p>
  <%= raw @post.content %>
</p>
<p>
  <%= image_tag @post.avatar.url %>
</p>
<%= link_to 'Edit', edit_post_path(@post), :class => "btn" %> |
<%= link_to 'Back', posts_path %>
